<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/excle.css"/>
    <title>excle</title>
</head>
<body >
    <div class="bg-y">
        <header>
            <h1></h1>
            <span class="time">2017年11月27日 星期一</span>
            <a class="exit" href="/logout"></a>
            <span class="help"></span>
        </header>
        <div class="father">
            <div style="height:40px;">
                <div class="sanjiao"></div>
                <div class="nav">统计下载</div>
            </div>
            <div class="content">
                <!--<button class="download">下 载</button>-->
                <button id="back">返 回</button>
                <ul id="mulu">
                </ul>
                <!--<div class="fileUpload">-->
                    <!--<form enctype="multipart/form-data" method="post" action=''>-->
                        <!--<p>上传说明：</p>-->
                        <!--<p>&nbsp;&nbsp;&nbsp;&nbsp;上传的文件为excle文档，如果一次需要上传多个excle文档，那么将这些文件放入.zip为后缀的压缩文件，上传后会解压到相应的目录</p>-->
                        <!--<p style="color:red">注意事项：压缩文件中必须全部为文件，不允许有目录，否则会出现错误</p>-->
                        <!--<input type="file" name="uploadfile"/>-->
                        <!--<input type="submit" value="提 交"/>-->
                    <!--</form>-->
                <!--</div>-->
            </div>
        </div>
        <footer>
            <p>欢迎使用本系统</p>
        </footer>
    </div>
</body>
<script src="modulejs/jquery-2.1.4.js"></script>
<script src="modulejs/excle.js"></script>
</html>