<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/folder.css">
    <title>admin</title>
</head>
<body >
    <div class="bg-y">
        <header>
            <h1></h1>
            <span class="time">2017年11月27日 星期一</span>
            <span class="exit"></span>
            <span class="help"></span>
        </header>
        <div class="father">
            <div style="height:40px;">
                <div class="sanjiao"></div>
                <div class="nav">统计下载</div>
            </div>
            <div class="content">
                <button>进入目录</button>
                <ul >
                    <li >
                        <span class="pic"></span>
                        <span class="title">201101</span>
                    </li>
                    <li>
                        <span class="pic"></span>
                        <span class="title">201102</span>
                    </li>
                    <li>
                        <span class="pic"></span>
                        <span class="title">201103</span>
                    </li>
                    <li>
                        <span class="pic"></span>
                        <span class="title">201104</span>
                    </li>
                    <li>
                        <span class="pic"></span>
                        <span class="title">201105</span>
                    </li>
                </ul>
            </div>
        </div>
        <footer>
            <p>欢迎使用本系统</p>
        </footer>
    </div>
</body>
<script src="js/jquery-2.1.4.js"></script>
<script src="js/folder.js"></script>
</html>