<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/login.css"/>
    <title>login</title>

</head>
<body>
    <header>
        <div class="clearfix">
            <span class="logo"> </span>
            <h1 class="title">中国电信全国联网声讯业务合作伙伴查询系统</h1>
        </div>
       <p class="bg-b"></p>
       <p class="bg-h"></p>
    </header>
    <div class="click">单点登录</div>
    <div class="login">
        <form method="post" action="/loginPost">
            <p>
                <span>用户名 ：</span>
                <input  name = "username" type="text" value="" placeholder="请输入用户名"/>
            </p>
            <p>
                <span>密码 ：</span>
                <input name = "password" type="password" value="" placeholder="请输入密码"/>
            </p>
            <p class="code">
                <span>验证码 ：</span>
                <input  name = "captcha" type="text" value="" placeholder="" />
                <img id="num" src="" />
                <span class="shua">刷新验证码</span>
            </p>
            <p class="error"></p>
            <p>
                <input type="button" value="登录" class="btn" />
                <!--<button class="btn">登录1</button>-->
                <span class="changepwd">修改密码</span>
            </p>

        </form>
        <img class= 'pic' src="images/login.png" alt="" />
    </div>
    <footer> Copyright @ 中电信集团 版权所有</footer>
</body>
<script src="modulejs/jquery-2.1.4.js"></script>
<script src="modulejs/jquery.md5.js"></script>
<script src="modulejs/login.js"></script>
</html>
