<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/user.css"/>
    <link rel="stylesheet" href="css/common.css"/>
    <title>admin</title>
</head>
<body >
    <div class="bg-y">
        <header>
            <h1></h1>
            <span class="time">2017年11月27日 星期一</span>
            <span class="exit"></span>
            <span class="help"></span>
        </header>
        <div class="father">
            <div style="height:40px;">
                <div class="sanjiao"></div>
                <div class="nav">
                    <ul class="m-nav">
                        <li class="g-fl ui-menu">
                            <a >统计下载</a>
                            <ul class="ui-menu-cont">
                                <li><a href = "/folder" id="sp">sp账单</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <h2>服务提供商资料</h2>
                <div id="detail">
                    <!--<p class="clearfix">-->
                        <!--<span class="title">登录账号</span>-->
                        <!--<span class="con">351000667</span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">名称</span>-->
                        <!--<span class="con">北京天智通达科技有限公司</span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">级别</span>-->
                        <!--<span class="con">普通</span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">状态</span>-->
                        <!--<span class="con">正常</span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">开始流程</span>-->
                        <!--<span class="con">0</span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">结束流程</span>-->
                        <!--<span class="con">0</span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">允许操作的时间段</span>-->
                        <!--<span class="con">从  至 </span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">注册时间</span>-->
                        <!--<span class="con">2017年11月27日</span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">CDMA手机号</span>-->
                        <!--<span class="con"></span>-->
                    <!--</p>-->
                    <!--<p class="clearfix">-->
                        <!--<span class="title">备注</span>-->
                        <!--<span class="con"></span>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
        <footer>
            <p>欢迎使用本系统</p>
        </footer>
    </div>
</body>
<script src="modulejs/jquery-2.1.4.js"></script>
<script src="modulejs/user.js"></script>
</html>